.ml-auto {
  margin-left: 60vw;
}
.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: #848484;
  border-right: 1px solid #6e6e6e;
  z-index: 1000;
  padding: 10px;
}

.sidebar-icon {
  display: block;
  text-align: center;
  padding: 5px 10px;
  color: #000000;
  font-size: 35px;
  background-color: #bebebe;
  border-radius: 50%;
  margin-bottom: 10px;
}
.concluido {
  text-decoration: line-through;
}
.margin-right {
  margin: 0 20px 10px 125px;
}
.text-warning {
  color: yellow !important;
}